@model NETD_F2020_Lab5.Models.Fakemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fakemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DexNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
