@model IEnumerable<NETD_F2020_Lab5.Models.Fakemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Fake Monsters</h1>

<p>
    <a asp-action="Create">Create New Monster</a>
</p>
<table class="table table-dark table-striped table-bordered">
    <thead>
    <tr>
        <!-- Generate table Headings -->
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nature)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- Generate Table Data -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DexNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DexNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DexNumber">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
