@model NETD_F2020_Lab5.Models.Stats

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Fakemon.Name) Statistics?</h3>
<div>
    <h4>Stats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialDefense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialDefense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fakemon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fakemon.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
